<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<Nag>1</Nag>
	<lastopen file="C:\Users\Brian Kuriyama\OneDrive - Pacxa\Judiciary\Jud_Migration_Manager\Gui_Creator Phase 3 layout.xml"></lastopen>
	<EditControl x="-796" y="537"></EditControl>
	<Quick_Options>
		<Grid>0</Grid>
	</Quick_Options>
</settings>
